<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Capital One Bank Winner</title>
    <meta name="viewport"
          content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-heading uppercase">Check this out!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <p class="list-heading uppercase">You will win one of these awesome prizes:</p>
                {% if prize_types %}
                    <ul id="prize-types-list">
                        {% for prize_type in prize_types %}
                            <li>{{ prize_type.display_name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-4">
                (Address)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                (Terms of service)
            </div>
            <div class="col-lg-4">
                (Capital One Bank logo)
            </div>
        </div>
    </div>

    <script src="{{ STATIC_URL }}js/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>

</html>